header{background: #9fb5d6; }

h1{ text-align: center; color: white; font-variant: small-caps}

h2{color: #1414f7; font-variant: small-caps}

nav{ color: #0703f7; background: #96da6b}

section{background: #ffb40c}

aside{display: none}